
.container{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box-container{
    background-color: rgb(218, 166, 166);
    height: 100vh;
    margin: 15px 15px;
    justify-content: center; 
    display: flex;
    justify-content: center;
}
.title{
    text-align: center;
    color: blue;
}
.box1{
    background-color: aquamarine;
    height: 300px;
    width: 300px;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    box-shadow:10px 5px rgb(252, 205, 16);
    /* padding-right: 20px; */
   
}
.box2{
    background-color: brown;
    height: 300px;
    width: 300px;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    box-shadow:10px 5px rgb(252, 205, 16);
   
}
.box3{
    background-color: darkgreen;
    height: 300px;
    width: 300px;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    box-shadow:10px 5px rgb(252, 205, 16);
   

}