.clearfix{
    content: '';
    display: block;
    clear: both;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.main-nav{
    height: 70px;
    width: 90%;
    color: rgb(226, 220, 220);
    background-color: darkslategray;
}
.logo{
    float: left;
    margin-top: 20px;
}
.menu{
    float:right;
   

}
.search{
    margin-top:  10px;
    float:right
}
.search form {
    margin-top: 10px;
    margin-left: 16px;
    font-size: 21px;
    border: none;
    cursor: pointer;
}
.search button{
    cursor: pointer;
}
.menu li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}